

.floatleft {
    float: left;
}

.noPadding {
    margin: 0px;
    padding: 0px;
}

.photoList {
    float: left;
    margin-right: 5px;
    width: 75px;
    height: 75px;
    z-index: 1;
}

.photoList img {

}

.photo {
    z-index: 1;
    width: 400px;
    height: 150px;
}


.photo img {
    background: black;
}