#mainArea {
    border-radius: 25px;
    -moz-bottomleft: 25px;
    padding: 15px;
    margin-top: 5px;
    background: #fff;
    text-align: left;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index:1;
}

img.thumbnailItem {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
    cursor:pointer;
}

img.thumbnailItem.is-selected {
    border: 2px solid #000;
    width: 100px;
    height: 100px;
}

.thumbnailViewList {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
}

#selectedPhoto h1 {
    text-decoration: none;
    clear: left;
    display: block;
    padding: 0px;
    margin: 0 0 0.2em 0;
    border-bottom: 1px dashed #dba;
    font-weight: bold;
    text-align: center;
}

.selectedPhotoItem {
    position: absolute;
    top: 95px;
    left: 10px;
    right: 10px;
    bottom: 150px;
    overflow: scroll;
    border-radius: 25px;
    -moz-bottomleft: 25px;
}

.selectedPhotoItem img {
    border-radius: 25px;
    -moz-bottomleft: 25px;
    width: 100%;
}

.controlButtons {
    position: absolute;
    bottom: 115px;
    left: 10px;
    right: 10px;
    height: 30px;
    text-align: center;
}