#mainArea {
    border-radius: 25px;
    -moz-bottomleft: 25px;
    padding: 15px;
    margin-top: 5px;
    background: #fff;
    text-align: left;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    z-index:1;
}

.thumbnailItem {
    width: 75px;
    height: 75px;
    float: left;
    margin-right: 10px;
}

.thumbnailViewList {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    height: 100px;
}